body {
  height: 100%;
  width: 100%;
  background-color: beige;
  text-align: center;
}

header {
  height: 100px;
  width: 100%;
  background-color: #f7bb09;
  margin-top: none;
}

h1 {
  margin:auto;
  text-align: left;
  font-size: 60px;
  padding-top: 30px;
  padding-left: 20px;
  font-weight: normal;
}

h2, input {
  font-size: 20px;
  font-weight: normal;
}

.product input {
  border: 0;
}

.product {
  width: 100%;
  text-align: left;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #000;
  margin-top: 100px;
}

footer p {
  margin:auto;
  text-align: center;
  font-size: 12px;
  font-family:sans-serif;
  padding-top: 20px;
  color: #fff;
}
h4 {
  text-align: left;
  text-decoration: underline;
  
}
